
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.container{
    background-color: #fdfeff; 
    padding: 50px;
}

h1{ 
    font-size: 30px;
    text-align: center;
    color: #CB745E;
    text-shadow: 4px 2px 4px #EE926F;
    font-family: 'Kreon', serif;
    padding-bottom: 30px;
}

img{
    width: 28px;
}

#divPadre{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
}

.divproducto{
    width: 21%;
    margin-bottom: 30px;
    padding-bottom: 10px;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background: #f2f3f4;
    box-shadow: inset 22px 22px 31px rgba(203, 116, 94, 0.6),
              inset -22px -22px 31px rgba(242, 243, 244, 0.7);
     
}

.nombre-descripcion-producto{
    padding-left: 30px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
  }


.contenedor-supermercados-precio{
    padding: 5px;
}

.supermercado {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.lidl-img{
    width: 30px;
    margin: 3px;
}

.mercadona-img{
    width: 30px;
    margin: 3px;
}


.eroski-img{
    width: 30px;
    margin: 3px;
}

.type-pan{
    background: url(imagenes/bread.svg) no-repeat 10px 5px;
    background-size: 26px 26px;
}

.type-lec{
    background: url(imagenes/milk.svg) no-repeat 10px 5px;
    background-size: 28px 28px;
}

.type-arr{
        background: url(imagenes/rice.svg) no-repeat 10px 5px;
        background-size: 26px 26px;
}

.type-ace{
        background: url(imagenes/oil.svg) no-repeat 10px 5px;
        background-size: 28px 28px;
}

.type-har{
        background: url(imagenes/harina.svg) no-repeat 10px 5px;
        background-size: 26px 26px;
    }
.type-yog{
        background: url(imagenes/glass.svg) no-repeat 10px 5px;
        background-size: 26px 26px;
}

.type-azu{
        background: url(imagenes/zugar.svg) no-repeat 10px 5px;
        background-size: 26px 26px;
}

.type-mac{
        background: url(imagenes/macarron.svg) no-repeat 10px 5px;
        background-size: 26px 26px;}

h2{
    font-size: 13px;
    padding-left: 10px;
    text-transform: capitalize;
    font-weight: 700;
}

span{
    font-size: 10px;
    display: block;
    padding-left: 15px;
    text-transform: capitalize;
    font-family: 'Quicksand', sans-serif;
}

.spanpreciolidl , .spanpreciomercadona, .spanprecioeroski{
    margin-left: 0px;
}

.contenidosupermercado{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 500px) {
    .divproducto {
      width: 100%;
      
    }
  }


